<!-- <div style="background-color: black;">
<div class="container" style="background-image: url(https://researchmatters.in/sites/default/files/covid19.jpg); background-position: center; background-size: cover; height: 100%;;">
    <h1 class="display-3">COVID-19 TRACKER</h1>
    <h1 class="display-3">COVID-19 TRACKER</h1>
  
</div>
</div> -->
<div>
    <div class="card bg-dark text-white">
        <img class="card-img" height="570" src="https://researchmatters.in/sites/default/files/covid19.jpg" alt="Card image">
        <div class="card-img-overlay">
          <!-- <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p> -->

          <div class="card-deck">
            <div class="card" style="background: transparent;">
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <div class="card-body">
                <h4 class="card-title" class="display-3">COVID-19</h4>
                <h5 class="card-title" class="display-3">TRACKER</h5><br><br>
                <a style="text-decoration: none;" routerLink="/home"><h5><strong>- &nbsp; Global Status</strong></h5></a><br>
                <a style="text-decoration: none;" routerLink="/countries"><h5><strong>- &nbsp; Country-wise Status</strong></h5></a><br>
              </div>
            </div>
            <div class="card col-md-4" style="background: transparent;">
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <div class="card-body">
                <p class="card-title display-4">What is COVID-19?</p>
                <p class="card-text" style="font-size: medium;">Coronavirus disease 2019 (COVID-19) is defined as illness caused by a novel coronavirus now called severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2; formerly called 2019-nCoV), which was first identified amid an outbreak of respiratory illness cases in Wuhan City, Hubei Province, China. It was initially reported to the WHO on December 31, 2019. On January 30, 2020, the WHO declared the COVID-19 outbreak a global health emergency. On March 11, 2020, the WHO declared COVID-19 a global pandemic, its first such designation since declaring H1N1 influenza a pandemic in 2009.
                </p>
                <a style="text-decoration: none;" routerLink="/helplines"><strong>- &nbsp;  Check for helpline numbers here.</strong></a><br>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>